<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Mapping Application</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

    @Styles.Render("~/bundles/css")    
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
            <span class="navbar-brand">Web Mapping Application</span>
		</div>		
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Account <strong class="caret"></strong>
                </a>
				<ul class="dropdown-menu">
					<li><a href="#">My Account</a></li>
					<li><a href="#">Change Password</a></li>
					<li class="divider"></li>
					<li><a href="#">Log out</a></li>
				</ul>
			</li>
		</ul>
    </nav>

    @RenderBody()
                
    
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.0.8"></script>

    @Scripts.Render("~/bundles/js")
</body>
</html>
