<nav id="master-toolbar" class="navbar navbar-default" role="toolbar">
    <div id="master-toolbar-controls" class="navbar-left">
        <button id="panel-toggle-btn" type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                Base Maps <span class="caret"></span>
            </button>
            <ul id="base-map-list" class="dropdown-menu" role="menu">
                <li><a href="#" data-base-map="Imagery">Imagery</a></li>
                <li><a href="#" data-base-map="Topographic">Topographic</a></li>
                <li><a href="#" data-base-map="Streets">Streets</a></li>
                <li><a href="#" data-base-map="NationalGeographic">National Geographic</a></li>
                <li><a href="#" data-base-map="Oceans">Oceans</a></li>
                <li><a href="#" data-base-map="Gray">Gray</a></li>
                <li><a href="#" data-base-map="DarkGray">Dark Gray</a></li>
                <li><a href="#" data-base-map="ShadedRelief">Shaded Relief</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
        </button>
    </div>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
</nav>
