<div id="panel">
    <div id="panel-toolbar">
        <button type="button" class="btn btn-default btn-xs" data-content-id="panel-content-layers">
            <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span> Layers
        </button>
        <button type="button" class="btn btn-default btn-xs" data-content-id="panel-content-editor">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Editor
        </button>
    </div>
</div>
