@section styles
{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
}

@{ Html.RenderPartial("_MasterToolbar"); }

<div id="content-wrapper">
    @{ Html.RenderPartial("_Panel"); }
    
    <div id="map" class="container-fluid"></div>
</div>

@section scripts
{
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.0.8"></script>
    <script src="@Url.Content("~/Scripts/app.js")"></script>
}